/* Add styles specific to the Projects component */
.projects-div {
    display: grid;
    padding: 20px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: grid;
    grid-template-columns: 1fr;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.rating,
.library,
.insurance,
.messageBoard {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 100%;
    margin-bottom: 20px;
}

img {
    width: 50px;
}

#projects {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .projects-div {
        max-width: 100%;
    }

    .projects-container {
        grid-template-columns: 1fr; /* Change to a single column layout for mobile */
    }

    .rating,
    .library,
    .insurance,
    .messageBoard {
        margin-bottom: 10px; /* Adjust spacing between items for mobile */
    }
}

/* Tablet and Larger Screens Styles */
@media only screen and (min-width: 601px) {
    .projects-div {
        max-width: 900px; /* Adjust as needed */
    }

    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}